[Unit]
Description=Dom0 Autoboot Code
After=container-shutdown-notifier.service syslog.target network.target

[Service]
Type=forking
RemainAfterExit=yes
# ExecStartPre=
ExecStart=/usr/sbin/dom0-containers start
ExecStop=/usr/sbin/dom0-containers stop
# Environment=BOOTUP=serial
# Environment=CONSOLETYPE=serial
# Delegate=yes
# StandardInput=tty
# StandardOutput=tty
# StandardError=syslog

[Install]
WantedBy=basic.target
