[Unit]
Description=Change the %OVERC_ACTIVE_VT% to be the active vt

[Service]
Type=oneshot
ExecStart=/usr/bin/chvt %OVERC_ACTIVE_VT%
StandardInput=tty
TTYPath=/dev/tty%OVERC_ACTIVE_VT%
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
