[Unit]
Description=Configure the OverC network-prime's port forwarding
After=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/etc/overc/network_prime_port_forward.sh

[Install]
WantedBy=multi-user.target
