[Unit]
Description=Pod command server
After=local-fs.target

[Service]
Type=simple
ExecStart=/sbin/pod-cmd-server
ExecStop=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
