[Unit]
Description=Dom0 Autoboot Code
After=syslog.target network.target
After=cube-cmd-server.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/opt/dom0-contctl/dom0-containers start
ExecStop=/opt/dom0-contctl/dom0-containers stop

[Install]
WantedBy=basic.target
