[Unit]
Description=Cube command server
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/sbin/nctl --verbose --server --conf /etc/cube-cmd-server.conf --ctrl-ipc /var/lib/cube/all/control.ipc --logfile /var/log/cube-cmd-server.log
RemainAfterExit=yes
Restart=always

[Install]
WantedBy=multi-user.target
