[Unit]
Description=Cube command server
After=local-fs.target

[Service]
Type=notify
ExecStart=/sbin/cube-cmd-server -l /var/log/cube-cmd-server.log
ExecStop=/bin/true
RemainAfterExit=yes
Restart=on-success

[Install]
WantedBy=multi-user.target
