# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  $HOME/poky/meta \
  $HOME/poky/meta-yocto \
  $HOME/poky/meta-yocto-bsp \
  $HOME/poky/meta-overc \
  $HOME/poky/meta-overc/meta-cube \
  $HOME/poky/meta-openembedded/meta-oe \
  $HOME/poky/meta-openembedded/meta-gnome \
  $HOME/poky/meta-openembedded/meta-xfce \
  $HOME/poky/meta-virtualization \
  $HOME/poky/meta-openembedded/meta-python \
  $HOME/poky/meta-openembedded/meta-networking \
  $HOME/poky/meta-openembedded/meta-multimedia \
  $HOME/poky/meta-cloud-services \
  $HOME/poky/meta-qt4 \
  $HOME/poky/oe-meta-go \
  $HOME/poky/meta-openembedded/meta-filesystems \
  "
BBLAYERS_NON_REMOVABLE ?= " \
  $HOME/poky/meta \
  $HOME/poky/meta-yocto \
  "
