# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/paul/poky/meta \
  /home/paul/poky/meta-yocto \
  /home/paul/poky/meta-yocto-bsp \
  /home/paul/poky/meta-overc \
  /home/paul/poky/meta-overc/meta-cube \
  /home/paul/poky/meta-openembedded/meta-oe \
  /home/paul/poky/meta-openembedded/meta-gnome \
  /home/paul/poky/meta-openembedded/meta-xfce \
  /home/paul/poky/meta-virtualization \
  /home/paul/poky/meta-openembedded/meta-python \
  /home/paul/poky/meta-openembedded/meta-networking \
  /home/paul/poky/meta-openembedded/meta-multimedia \
  /home/paul/poky/meta-cloud-services \
  "
BBLAYERS_NON_REMOVABLE ?= " \
  /home/paul/poky/meta \
  /home/paul/poky/meta-yocto \
  "
