[Unit]
Description=OverC system configuration
After=local-fs.target openvswitch-nonetwork.service network.target
Before=lxc.service

[Service]
Type=forking
Environment=FACTER_ipaddress="192.168.42.2"

[Install]
WantedBy=multi-user.target
