[Unit]
Description=OverC system configuration service
After=local-fs.target

[Service]
Type=simple
ExecStart=/etc/overc-conf/overc-conf.sh

[Install]
WantedBy=multi-user.target
