[Unit]
Description=Daily SmartPM update daemon
DefaultDependencies=no

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=multi-user.target
