[Unit]
Description=SmartPM update daemon
DefaultDependencies=no

[Service]
Type=simple
PIDFile=/etc/cube-update/pid
ExecStart=/etc/cube-update/cubeupdated start
ExecReload=/etc/cube-update/cubeupdated restart
ExecStop=/etc/cube-update/cubeupdated stop
WatchdogSec=2419200
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
