[Unit]
Description=Container Shutdown Notifier Service
RequiresMountsFor=/opt/container/local

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/sbin/container-shutdown-notifier
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
